<% content_for :head do %>
<script type="text/javascript" src="/javascripts/admin.js"></script>
<% end %>
<div id="menu" class="span-24 last">
	<div id="innermenu">
		<div class="large_button">
			<a href="/admin/pages">
				<img src="/images/admin/page.png" alt="View Pages"/>
				<p>
					Pages
				</p>
			</a>
		</div>
		<div class="large_button">
			<a href="/admin/posts">
			<img src="/images/admin/posts.png" alt="View Posts"/>
			<p>
				News
			</p>
			</a>
		</div>
		<div class="large_button">
			<img src="/images/admin/events.png" alt="View Events"/>
			<p>
				Events
			</p>
		</div>
		<div class="large_button">
			<a href="/admin/wanteds">
			<img src="/images/admin/wanted.png" alt="View Most Wanted"/>
			<p>
				Most Wanted
			</p>
			</a>
		</div>		
		<div class="large_button">
			<img src="/images/admin/offender.png" alt="View Sex Offender Registry"/>
			<p>
				Sex Offenders
			</p>
		</div>
		<div class="large_button">
			<img src="/images/admin/business.png" alt="View Business Portal"/>
			<p>
				Business Portal
			</p>
		</div>
		<div class="large_button">
			<a href="<%= admin_users_url %>">
			<img src="/images/admin/user.png" alt="View Users"/>
			<p>
				Users
			</p>
			</a>
		</div>
		<div class="large_button">
			<a href="/admin/assets/">
			<img src="/images/admin/assets.png" alt="View Image Archive"/>
			<p>
				Image Archive
			</p>
			</a>
		</div>
	</div>
	<ul id="menunav">
		<li><a id="previouslink" href="#"><img src="/images/admin/left.png"/></a></li>
		<li><a id="nextlink" href="#"><img src="/images/admin/right.png"/></a></li>
	</ul>
</div>