<% content_for :title do %>
	Dashboard
<% end %>
<ul class="plastic">
	<li class="arrow"><%= link_to 'Sex Offenders', admin_offenders_path %>
		<small class="counter"><%= Offender.all.count %></small>
	</li>
	<li class="arrow"><%= link_to 'Most Wanted', admin_wanteds_path %>
	<small class="counter"><%= Wanted.all.count %></small>	
	</li>
</ul>