/* The asset browser */
body {
  background-color: #333333;
  color: #FFFFFF;
  font-style: Helvetica, "Helvetica Neue", Arial, Verdana, sans-serif;
}
h1{
  font-family: Helvetica, "Helvetica Neue", Arial, Verdana, sans-serif;
}
.assetbrowser ul {
  padding: 0;
}
.assetbrowser ul li {
  overflow: hidden;
  margin: 5px;
  width: 66px;
  height: 66px;
  border: 1px solid #000;
  list-style: none;
  float: left;
	box-shadow: 3px 3px 3px #000;
	 -moz-box-shadow: #000 3px 3px 3px;
  -webkit-box-shadow: #000 3px 3px 3px;
  border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
.assetbrowser ul li img {
  width: 64px;
}
#assetlinks + p{
  clear:both;
}

#assetlinks + p a{
  color: #FFF;
}

#assetimage {
  float: left;
}

#assetlinks {
  float:left;
  margin-left: 25px;
}
#assetlinks a {
  text-decoration: none;
  font-weight: bold;
  color: #222;
  background-color: #bbb;
  margin: 5px;
  display: block;
  width: 100px;
  height: 20px;
  padding: 10px;
}
#assetlinks a:hover {
  background-color: #339933;
}