<h1>Welcome!</h1>
<p>Welcome to the new home of the Marion County Sheriff's Department. Over the coming weeks, this site will evolve and provide you with information about the department as well as useful links for related services.</p>

<p>
	For now, please check the current sections in the sidebar. If you have any questions or concerns, feel free to contact as at webmaster@marioncosheriff.com
</p>
<div class="span-11">
	<h5>Recent News Posts</h5>
	<% for post in Post.all(:limit => 5, :order => "created_at DESC")%>
		<p><%= link_to post.title, post %> on <%= post.created_at.to_s(:short) %></p>
	<% end %>
</div>
<div class="span-7 last">	
<%= image_tag "bili.gif" %>
<%= image_tag "clickit07.gif" %>
</div>