<% content_for :head do %>
	<script type="text/javascript" src="/javascripts/jquery.lightbox-0.5.js"></script>
	<link rel="stylesheet" href="/stylesheets/jquery.lightbox-0.5.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<script type="text/javascript">
	$(function() {
		$('a[href^=/system/files/]').lightBox(); // Select all links with lightbox class
	});
	</script>
<% end %>
<h2>
  <%=h @post.title %>
</h2>
<h5>
	<%= l @post.created_at, :format => :post %>
</h5>

	<%= @post.body %>
<p>
	<%= link_to "Back to News Posts", posts_url %>
<p>