<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<title>Marion County Sheriff's Department</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/stylesheets/screen.css" type="text/css" media="screen, projection">
	<link rel="stylesheet" href="/stylesheets/print.css" type="text/css" media="print">	
	<!--[if lt IE 8]><link rel="stylesheet" href="/stylesheets/ie.css" type="text/css" media="screen, projection"><![endif]-->
	<link rel="stylesheet" href="/stylesheets/admin.css" type="text/css" media="screen, projection" />
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
	<%= yield(:head) %>
</head>
<body>
	<div class="container">
		<div id="header" class="span-20">
			<h1>Site Administration</h1>
		</div>
		<div id="userinfo" class="span-4 last">

		</div>
		<%= yield %>
	</div>
	<div id="footer">
		Powered by the Sakura System from Ravsonic Studios
	</div>
</body>
</html>